extends layout

block content
    h1= title
    p Welcome to our test

    // Wrapper
    #wrapper

        // ADD USER
        | Profile picture:
        form(action="/users/pic", method="post", enctype="multipart/form-data")
            input#inputUserProfilePic(type="file", name="userPic")
            button(type="submit") upload
        h2 Add User
        #addUser
            fieldset
                br
                input#inputUserProfessionDeveloper(type='checkbox')
                | Developer
                input#inputUserProfessionDesigner(type='checkbox')
                | Designer
                input#inputUserProfessionEntrepreneur(type='checkbox')
                | Entrepreneur
                br
                input#inputUserName(type='text', placeholder='Username')
                br
                input#inputUserPassword(type='text', placeholder='Password')
                br
                input#inputUserEmail(type='text', placeholder='Email')
                br
                input#inputUserFullname(type='text', placeholder='Full Name')
                br
                input#inputUserResumeLink(type='text', placeholder='Resume/Portfolio Link')
                br
                input#inputUserBio(type='text', placeholder='Bio')
                br
                input#inputUserSkills(type='text', placeholder='List your skills')
                br
                button#btnAddUser Add User
        // /ADD USER
        br
        h2 Login
        #login
            fieldset
                | Username
                input#inputLoginUsername(type="text", placeholder="username", required)
                | Password
                input#inputLoginPassword(type="password", required)
                br
                button#btnLogin Login
                br
                br
                button#btnLogout Logout


        // ADD PROJECT
        br
        | Project picture:
        form(action="/users/pic", method="post", enctype="multipart/form-data")
            input#inputUserProfilePic(type="file", name="userPic")
            button(type="submit") upload
        h2 Add Project
        #addProject
            fieldset
                input#inputProjectName(type='text', placeholder='Project Name')
                br
                input#inputProjectDescription(type='text', placeholder='Description')
                br
                input#inputProjectAuthor(type='text', placeholder='Author')
                br
                input#inputProjectSkills(type='text', placeholder='Preferred skills')
                br
                input#inputProjectTags(type='text', placeholder='Project tags')
                br
                | Positions:
                input#inputProjectLookingForDesigner(type='checkbox')
                | Designer
                input#inputProjectLookingForDeveloper(type='checkbox')
                | Developer
                br
                input#inputProjectTime(type='text', placeholder='Time left...')
                br
                button#btnAddProject Add Project
        // /ADD Project
        // Link them to project/folder that responses with json data
        h2 List of users
        #listOfusers
        h2 List of projects
        #listOfprojects

    // /WRAPPER