extends layout

block content
    h1= title
    p Welcome to our test

    // Wrapper
    #wrapper

        // ADD USER
        h2 Add User
        #addUser
            fieldset
                input.inputUserProfession(type='checkbox', name='developer', value='developer')
                | Developer
                input.inputUserProfession(type='checkbox', name='designer', value='designer')
                | Designer
                input.inputUserProfession(type='checkbox', name='entrepreneur', value='entrepreneur')
                | Entrepreneur
                br
                input#inputUserName(type='text', placeholder='Username')
                br
                input#inputUserEmail(type='text', placeholder='Email')
                br
                input#inputUserFullname(type='text', placeholder='Full Name')
                br
                input#inputUserResumeLink(type='text', placeholder='Resume/Portfolio Link')
                br
                input#inputUserBio(type='text', placeholder='Bio')
                br
                input#inputUserFullname(type='text', placeholder='List your skills')
                br
                button#btnAddUser Add User
        // /ADD USER


        // ADD PROJECT
        h2 Add Project
        #addProject
            fieldset
                | Project picture:
                input#inputProjectPic(type="file")
                br
                input#inputProjectName(type='text', placeholder='Project Name')
                br
                input#inputProjectDescription(type='text', placeholder='Description')
                br
                input#inputProjectAuthor(type='text', placeholder='Author')
                br
                input#inputProjectResumeLink(type='text', placeholder='Resume/Portfolio Link')
                br
                | Positions:
                input#inputProjectLookingForDesigner(type='checkbox')
                | Designer
                input#inputProjectLookingForDeveloper(type='checkbox')
                | Developer
                br
                button#btnAddProject Add Project
        // /ADD Project

    // /WRAPPER