.header {
	width:100%;
	height:67px;
	position:fixed;
	top:0;
	left:0;
	overflow:visible;
	z-index:9999;
	border-bottom:1px solid #eee;
	.logo {
		float:left;
		color:#fff;
		margin-top: 6px;
		p {
			font-size:35px;
		}
	}
	.login {
		float:right;
		margin-top:18px;
	}
	.signup {
		float:right;
		margin-top:18px;
		margin-right:20px;
		background:#4183D7;
	}
}