.setting{
	.wrapper{
	background-color:#fff;
	padding:40px;
	}
	input[name="describe"] { 
		padding:0px 0px 160px 15px;
		height:200px;
	}
	input[type="submit"]{
		height:60px !important;
	}
	.col2 {
		width:50%;
		float:left;
		margin-top:10px;
		margin-bottom:10px;
		label, input {
			float:left;
		}
		input {
			width:20px;
		}
		label {
			line-height:0.7em;
			margin-left:10px;
		}
	}
}