<div class="container home-page">
    <div class="header">
      <div class="wrapper">
        <div class="logo">
          <p> < build.<strong>it</strong> /></p>
        </div>
        <a href="#" class="login button green">login</a>
        <div class="popup login-popup">
          <div class="arrow-up"><img src="img/uparrow.png" alt=""></div>
          <form id="login">
            <input id="inputLoginUsername" type="text" placeholder="Username" required>
            <input id="inputLoginPassword" type="password" placeholder="Password" required>
            <input id="btnLogin" type="submit" value="login">
          </form>
        </div>
        <a href="#" class="signup button green">signup</a>
        <div class="popup signup-popup">
          <div class="arrow-up"><img src="img/uparrow.png" alt=""></div>
          <form id="addUser">
            <input id="inputUserEmail" type="email" placeholder="Enter Email" required>
            <input id="inputUserName" type="text" placeholder="Enter Username" required>
            <input id="inputUserPassword" type="password"  placeholder="Enter Password" required>
            <input id="btnAddUser" type="submit" value="Sign Up">
          </form>
        </div>
      </div><!-- end wrapper -->
    </div><!-- end header -->
    <div class="body home">
      <div class="wrapper">
        <h1>Find oppurtunities. <br> Bulild a portfolio. <br> Make an impact.</h1>

        <div class="content">
          <p>I am a</p>
          <div class="styled-select">
            <div class="option active" role="developer">developer</div>
            <div class="option" role="designer">designer</div>
            <div class="option" role="entrepreneur">entrepreneur</div>
            <div class="arrow-down"></div>
          </div><!-- end styled select -->
          <br>
          <p>looking for a</p>
          <div class="styled-select" id="looking">
            <div class="option active" data-role="developer">developer</div>
            <div class="option" data-role="designer">designer</div>
            <div class="option" data-role="entrepreneur">entrepreneur</div>
            <div class="option" data-role="projects">projects</div>
            <div class="arrow-down"></div>
          </div><!-- end styled select -->
        </div>
        <a href="#" class="signup button green" id="strt">Start Now</a>
      </div><!-- end wrapper -->
    </div><!-- end body -->
  </div><!-- end container -->

  </div>