.home {
	background:url(../img/home-bg.png) no-repeat;
	background-size:cover;
	h1, p, .option{
		color:#fff;
<<<<<<< HEAD
=======
	}
	p {
		font-size:30px;
		color:#eee;
		float:left;
		clear:both;
	}	
	.button {
		float:left;
		clear:both;
		margin-top:20px;
		font-size:30px;
>>>>>>> 02f4d0c7581a69f1534bd559aa2e842ef155355f
	}
	h1{
		margin-top:130px;
		font-size:40px;
		}
	
	
}