.home {
	background:url(../img/home-bg.png) no-repeat;
	background-size:cover;
	h1, p, .option{
		color:#fff;
	}
	p {
		font-size:30px;
		color:#eee;
		float:left;
		clear:both;
	}	
	.button {
		float:left;
		clear:both;
		margin-top:20px;
		font-size:30px;
	}
}